

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar-v27-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar-v27-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar-v27-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Eczar';
  src: url('../fonts/eczar-v27-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Eczar', serif;
  background-color: #1D0530;
  color: #E7FCF4;
}

.about {
  padding: 40px 20px;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  color: #F2C251;
  margin-bottom: 20px;
  font-family: 'Eczar', serif;
    font-weight: 800;
}

.intro {
  max-width: 700px;
  margin: 0 auto 40px;
  line-height: 1.6;
  font-family: 'Eczar', serif;
   font-weight: 400;
}

/* CONTENEDOR DE TARJETAS */
.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* TARJETAS */
.card-about {
  background-color: #2a0a45;
  border-radius: 15px;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-about h2 {
  color: #F2C251;
    font-family: 'Eczar', serif;
  font-weight: 700;

}

.card-about h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-family: 'Eczar', serif;
  font-weight: 600;
}
.card-about p {
  font-family: 'Eczar', serif;
  font-weight: 400;
}

.card-about span {
  display: block;
  margin-top: 10px;
  font-style: italic;
  color: #E7FCF4;
  opacity: 0.8;
font-family: 'Eczar', serif;
  font-weight: 400;
}

/* EFECTO HOVER */
.card-about:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 15px #F2C251;
}

.purpose {
  margin-top: 50px;
}

.purpose h2 {
  color: #F2C251;
font-family: 'Eczar', serif;
  font-weight: 700;
}
.purpose p {
  font-family: 'Eczar', serif;
  font-weight: 400;
  
}




@media (max-width: 900px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 500px) {
  .team {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 2rem;
  }
@font-face {
  font-family: 'eczar-regular'; 
  src: url('../fonts/eczar-v27-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
    padding: 0;
    margin: 0;
    color: #E7FCF4;
    font-family: "eczar-regular", cursive;
    box-sizing: border-box;
}

body {
    background-color: #1D0530;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 15px 50px; 
}

a {
    text-decoration: none;
}

a:hover {
    color: #F2C251;
    text-shadow: 0px 0px 5px #E7FCF4;
}

footer {
    bottom:  0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:space-around;
    font-size: 15px;
    width: 100%;
    padding: 20px;
}

footer img {
    width: 20px;
    height: 20px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 10px 70px 0px 0px;
}}